<launch>
    <!-- Read launch arguments -->
    <arg name="t" default="60"/>
    <!-- Set the arguments to parameters -->
    <param name="exploration_time" value="$(arg t)"/>


    <!-- Simulation -->
    <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
    <arg name="world_file" value="worlds/willowgarage.world"/> <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
    <arg name="gui" default="false"/>
    </include>

    <!-- Mapping -->
    <node pkg="autonomous_nav" type="laserscan_to_pointcloud" name="laserscan_to_pointcloud" respawn="true" output="screen" />

    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server" args=" " cwd="node" output="screen">
        <param name="frame_id"   value="/odom" />
        <remap from="/cloud_in"  to="/pc_from_scan" /> <!-- simulator -->
        <param name="resolution" value="0.075" />
        <param name="latch"      value="False" />
        <!--remap from="/cloud_in" to="/camera/depth_registered/points" /--> <!-- real turtlebot -->
    </node>
    
    <!-- Rviz-->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find autonomous_nav)/launch/config/robot.rviz" />

    <!-- Autonomous_nav nodes -->
    <node name="potential_map" pkg="autonomous_nav" type="potential_map" output="screen"/>

    <node name="driver" pkg="autonomous_nav" type="driver_node.py" output="screen"/>
    <node name="controller" pkg="autonomous_nav" type="controller_node.py" output="screen"/>
    <node name="mission_handler" pkg="autonomous_nav" type="mission_node.py" output="screen"/>
</launch>
